@{
    ViewBag.Title = "Ember.n...";
}

<div id="app"></div>
<script src="/signalr/hubs" type="text/javascript"></script>
<script src="../../Scripts/u.js" type="text/javascript"></script>
<script src="../../Scripts/app.js" type="text/javascript"></script>
