@{
    ViewBag.Title = "Ember.n.SignalR";
}
<div id="app">
</div>
<script src="../../Scripts/u.js" type="text/javascript"></script>
<script src="../../Scripts/app.js" type="text/javascript"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script src="../../Scripts/hub.js" type="text/javascript"></script>
